.main-title {
    font-size: 24px;
    color: #3c6e71;
}
.news-row{
    row-gap: 15px;
}
.news-container {
    border: 1px solid #c7c7c700;
    background: none;
    border-radius: 8px;
    transition: all 0.2s ease-in-out;
    &:hover{
        cursor: pointer;
        transform: scale(1.05);
        // background: #dadada;
        // border: 1px solid #c7c7c7;

    }
    .card-img{
        height: 200px;
        img{
            height: 100%;
            object-fit: cover;
            border-radius: 8px;
        }
    }
    .card-body {
        padding: 0 !important;
        .date {
            margin: 10px 0;
            color: #888;
            font-size: 12px;
        }
        .news-author{
            margin-top: 10px;
            color: #3c6e71;
            font-size: 12px;
        }
        .news-title {
            font-size: 18px;
            font-weight: 600;
            color: #353535;
        }
        .news-description {
            font-size: 16px;
            font-weight: 400;
            color: #747474;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 5;
            line-clamp: 2;
            -webkit-box-orient: vertical;
        }
        .btn {
            background-color: #195A94;
            color: white;
            padding: 10px 15px;
            &:hover {
                background-color: #0a375e;
            }
        }
    }
    .card-footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: none;
        h6 {
            color: #747474;
            font-size: 12px;
        }
    }
}
.btn-outline-dark{
    border-color: #3c6e71;
    color: #3c6e71;
    &:hover{
        color: white;

        background-color: #3c6e71;
    }
}
